@using System.Web.Mvc.Html
@using EPiServer.ServiceLocation
@using SiteImprove.EPiserver.Plugin.Core

@model SiteImprove.EPiserver.Plugin.Core.Models.SettingsViewModel

@{
    ViewBag.Title = "Siteimprove";
    Layout = ServiceLocator.Current.GetInstance<ISiteimproveHelper>().GetAdminViewPath("_Layout");
}

@using (Html.BeginForm("Index", "SiteimproveAdmin"))
{
    <div class="epi-formArea">
        <div class="epi-size20">
            <div>
                <label>Token</label>
                <label>@Model.Token</label>
                <span class="epi-cmsButton">
                    @Html.Hidden("newToken", true)
                    <input type="submit" class="epi-cmsButton-text epi-cmsButton-tools epi-cmsButton-File" value="Request new token" />
                </span>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("EnablePrepublishCheck", "SiteimproveAdmin"))
{
    <div class="epi-formArea">
        <div class="epi-size20">
            <div>
                <label>Pre-publish check</label>
                <label>@(Model.PrepublishCheckEnabled ? "Enabled" : "Disabled")</label>
                <span class="epi-cmsButton">
                    @Html.Hidden("enablePrepublishCheck", true)
                    <input type="submit" class="epi-cmsButton-text epi-cmsButton-tools epi-cmsButton-File" value="Enable pre-publish check" />
                </span>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Save", "SiteimproveAdmin", FormMethod.Post))
{
    <div class="epi-formArea">
        <fieldset>
            <legend>Settings</legend>
            <div class="epi-size20">
                <div>
                    @Html.LabelFor(model => model.ApiUser, "API Username")
                    @Html.TextBoxFor(model => model.ApiUser, new { @class = "episize240" })
                </div>
                <div>
                    @Html.LabelFor(model => model.ApiKey, "API Key")
                    @Html.PasswordFor(model => model.ApiKey, new { @class = "episize240" })
                </div>
                <div>
                    @Html.LabelFor(model => model.NoRecheck, "Dont recheck pages on publish")
                    @Html.CheckBoxFor(model => model.NoRecheck)
                </div>
            </div>
            <div class="floatright">
                <span class="epi-cmsButton">
                    <input type="submit" class="epi-cmsButton-text epi-cmsButton-tools epi-cmsButton-Save" value="Save" />
                </span>
            </div>
        </fieldset>
    </div>
}
